#
# Copyright (C) 2022-2025 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

import /odm/etc/init/hw/init.oplus.display.rc

on fs
    # Update touchpanel firmware in case we ship newer firmware in /odm
    write /proc/touchpanel/tp_fw_update 0

on boot
    # Display
    chmod 0000 /sys/kernel/oplus_display/hbm

on post-fs-data
    # ADSP ramdump
    mkdir /data/vendor/mmdump 0777 system system
    chmod 0777 /data/vendor/mmdump
    mkdir /data/vendor/mmdump/adsp 0777 system system
    chmod 0777 /data/vendor/mmdump/adsp

on property:ro.boot.prjname=*
    # Display
    setprop ro.separate.soft ${ro.boot.prjname}

on property:ro.boot.prjname=22811
    setprop persist.vendor.display.pxlw.iris_feature 0x407f0780

on property:ro.boot.prjname=22851
    setprop persist.vendor.display.pxlw.iris_feature 0x41ff0780

on property:ro.boot.prjname=22861
    setprop persist.vendor.display.pxlw.iris_feature 0x400080

on property:sys.boot_completed=1
    # Widevine
    copy /vendor/etc/oplus_Widevine_licenses.pfm /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm
    chmod 0600 /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm
    chown system system /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm
